{% extends "base.html" %}

{% block title %}
Portfolio | Réalisations Sydra One
{% endblock %}

{% block meta_description %}
Découvrez les projets réalisés par Sydra One en développement web, Cloud, DevOps et intelligence artificielle.
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/portfolio.css') }}">
{% endblock %}

{% block content %}
<section class="hero">
    <div class="container">
        <span class="eyebrow">Portfolio</span>
        <h1>Nos Projets</h1>
		<p>
		Découvrez quelques réalisations SydraOne en développement web,
		cloud et DevOps.
		</p>
    </div>
</section>
<div class="portfolio-page">
	<section class="portfolio-section">
        <div class="container">
			<!-- BULLES -->
			<div class="project-tabs">
				<button class="tab-btn active" onclick="showProject('project1', event)">
				Site Web Premium
				</button>

				<button class="tab-btn" onclick="showProject('project2', event)">
				Monitoring DevOps
				</button>

				<button class="tab-btn" onclick="showProject('project3', event)">
				Automatisation IA
				</button>
  			</div>

			<!-- CONTENU PROJET 1 -->
			<div id="project1" class="project-content active">

				<div class="project-image">
					<img src="{{ url_for('static', filename='pictures/dev_web/site_nichewatcher.webp') }}" alt="Projet Web" loading="lazy">
				</div>

				<div class="project-info">
					<h2>Création d’un Site Web Premium</h2>

					<p>
						Développement d’une application de veille technologique hebdomadaire destinée à un public de professionnels.
						souhaitant se tenir informés des dernières tendances et innovations dans le domaine de l'informatique.
					</p>

					<div class="project-stack">
						<span>BeautifulSoup/html/css</span>
						<span>postgreSQL/SQLAlchemy</span>
						<span>JWT</span>
						<span>Cron</span>
					</div>

      				<a href="/portfolio/web" class="project-btn">Voir le projet</a>
    			</div>
		
  			</div>

			<!-- CONTENU PROJET 2 -->
			<div id="project2" class="project-content">

				<div class="project-image">
					<img src="{{ url_for('static', filename='pictures/monitoring_cloud/quick_CPU.webp') }}" alt="Projet DevOps" loading="lazy">
				</div>

    			<div class="project-info">
					<h2>Infrastructure Monitoring DevOps</h2>

					<p>
						Mise en place d’une infrastructure cloud de monitoring temps réel
						avec Grafana, Prometheus et Docker sur AWS EC2.
					</p>

					<div class="project-stack">
						<span>AWS</span>
						<span>Docker</span>
						<span>Grafana</span>
						<span>Prometheus</span>
					</div>

      				<a href="/portfolio/cloud-monitoring" class="project-btn">Voir le projet</a>
    			</div>

  			</div>

			<!-- CONTENU PROJET 3 -->
			<div id="project3" class="project-content">

				<div class="project-image">
					<img src="{{ url_for('static', filename='pictures/ia/dashboard_ia_sdn.webp') }}" alt="Projet IA" loading="lazy">
				</div>

   				 <div class="project-info">
					<h2>Automatisation & Intelligence Artificielle</h2>

					<p>
						Développement d’une solution de prédiction de trafic réseau dans un SDN via l’Intelligence Artificielle.
						Anticipation des congestions, optimisation des liens et amélioration de la QoS
					</p>

					<div class="project-stack">
						<span>Python, TensorFlow, Keras</span>
						<span>IA : LSTM</span>
						<span>Flask</span>
						<span>Django, SQLite, HTML/CSS/JS</span>
					    <span>Apache Airflow, MLflow</span>
					</div>

      				<a href="/portfolio/data-ia" class="project-btn">Voir le projet</a>
    			</div>
  			</div>
		</div>
    </section>
</div>


<script>

const buttons = document.querySelectorAll('.tab-btn');

function showProject(projectId, event){

  document.querySelectorAll('.project-content')
  .forEach(project => project.classList.remove('active'));

  document.getElementById(projectId)
  .classList.add('active');

  buttons.forEach(btn => btn.classList.remove('active'));

  event.currentTarget.classList.add('active');
}

</script>

{% endblock %}
